<!DOCTYPE html>
<html>
<head>
	<title>apifast</title>
	<link rel="stylesheet" type="text/css" href="public/css/all.css">
  <link rel="stylesheet" type="text/css" href="public/css/request.css">
  <link rel="stylesheet" type="text/css" href="public/css/response.css">
</head>
<body>
  <div id="app">
    <div id="routes" style="display: none">
      <button type="">create +</button>
      <div class="route-item">register</div>
      <div class="route-item">login</div>
      <div class="route-item">delete</div>
    </div>

    <!-- request -->

  	<div class="request">
  	  <input type="text" id="url" placeholder="http://" value="http://">

  	  <div id="options">
  	  	<select name="method" id="method">
  	  	  <option value="GET">GET</option>
  	  	  <option value="POST">POST</option>
  	  	  <option value="UPDATE">UPDATE</option>
  	  	  <option value="DELETE">DELETE</option>
  	    </select>

  	    <button id="btn-send">send</button>
  	  </div>

  	  <div id="response-area">
       <div id="response-type">
         <button class="response-type-button-active">body</button>
         <button class="response-type-button">headers</button>
         <button class="response-type-button">mode</button>
         <button class="response-type-button">cache</button>
       </div>
       <textarea id="body-area" name=body cols="30" rows="10"></textarea> 
      </div>

  	</div>

    <!-- response -->


  	<div id="response">
  	  <div id="topbar">
  	  	<div class="slot-1">
  	  	  <h3 id="status">status: 200</h3>
  	  	</div>
        <div class="slot-2">
          <h3 id="situation">sending</h3>
        </div>

        <h5 id="state">stop</h5>
  	  </div>
      <textarea id="res" readonly>

      </textarea>
  	</div>
  </div>

  <script type="module" src="/public/js/quickapi/api.js"></script>
  <script type="module" src="/public/js/quickapi/main.js"></script>
  <script type="module" src="/public/js/browser.js"></script>
  <script type="module" src="/public/js/render.js"></script>
</body>
</html>