<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>apifast</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="public/css/all.css">
  <link rel="stylesheet" type="text/css" href="public/css/request.css">
  <link rel="stylesheet" type="text/css" href="public/css/response.css">
</head>
<body>
  <div id="app">
    <!-- 
    <div id="routes" style="display: none">
      <button type="">create +</button>
      <div class="route-item">register</div>
      <div class="route-item">login</div>
      <div class="route-item">delete</div>
    </div> -->

    <!-- request -->

  	<div id="request">
  	  <input type="text" id="url" placeholder="http://" value="http://">

  	  <div id="request-type">
  	  	<select name="method" id="method">
  	  	  <option value="GET">GET</option>
  	  	  <option value="POST">POST</option>
  	  	  <option value="UPDATE">UPDATE</option>
  	  	  <option value="DELETE">DELETE</option>
  	    </select>

  	    <button id="btn-send">send</button>
  	  </div>
      <div id="request-options">
         <button class="request-type-button-active">body</button>
         <button class="request-type-button">headers</button>
      </div>

      <div id="result-request-options">
        <textarea id="body-area" name=body cols="30" rows="10"></textarea>
      </div>
  	</div>

    <!-- response -->


  	<div id="response">
  	  <div id="topbar">
  	  	<div class="slot-1">
  	  	  <h3 id="status-code">status: 200</h3>
  	  	</div>
        <div class="slot-2">
          <h3 id="state">sending</h3>
        </div>
  	  </div>
      <textarea id="res" readonly>

      </textarea>
  	</div>
  </div>

  <script type="module" src="/public/js/quickapi/api.js"></script>
  <script type="module" src="/public/js/browser.js"></script>
  <script type="module" src="/public/js/render.js"></script>
  <script type="module" src="/public/js/modules/decamelize.js"></script>
</body>
</html>