* {
	margin: 0;
	padding: 0;
	outline: none;
}

input, h3, h4, h5, h6 {
	font-family: Aparajita, sans-serif;
}

html, body, textarea {
	height: 100%;
}

#app {
	display: flex;
	flex-direction: row;
	height: 100%;
	background-color: #05020d
}

#routes {
	display: flex;
	flex-direction: column;
	padding: 10px 0px 10px 10px;
	flex-basis: 100px;
}

.route-item {
	color: #1bc8e3;
	background-color: #161321;
	padding: 7px;
	cursor: pointer;
	width: 140px;
	margin-bottom: 4px
}

.route-item:hover {
	color: #161321;
	background-color: #1bc8e3;
	padding: 7px;
	cursor: pointer;
	width: 140px
}

.route-item-active {
	color: #1bc8e3;
	background-color: #161321;
	padding: 7px;
	cursor: pointer;
	width: 140px
}

.route-item-active:hover {
	color: #161321;
	background-color: #1bc8e3;
	padding: 7px;
	cursor: pointer;
	width: 140px
}