#request {
	border-right: 1px solid #161321;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column
}

#url {
	height: 35px;
	margin: 10px;
	background-color: #161321;
	color: #1bc8e3;
	border: none;
	padding: 3px;
}

#options {
	display: flex;
	height: 35px;
	border: none;
	align-items: center;
}

#method {
	width: 20%;
	height: 30px;
	margin: 0px 10px;
	background-color: #161321;
	color: #1bc8e3;
	border: none;
}

#btn-send {
	border: 1px solid #1bc8e3;
	background-color: transparent;
	color: #1bc8e3;
	cursor: pointer;
	height: 30px;
	width: 100px
}

option {
	outline: none
}

#request-type {
	height: 30px;
	margin: 0px 0px 5px 0px
}

#request-options {
	margin: 10px
}

/* btn request options */
.request-type-button {
	color: #1bc8e3;
	background-color: transparent;
	border: 1px solid #1bc8e3;
	height: 100%;
	padding: 5px;
	cursor: pointer;
	width: 80px
}

	.request-type-button:hover {
		color: #fff;
		background-color: #1bc8e3;
		border: 1px solid #1bc8e3;
		height: 100%;
		padding: 5px;
		cursor: pointer;
		width: 80px
	}

	.request-type-button-active {
		color: #fff;
		background-color: #1bc8e3;
		border: 1px solid #1bc8e3;
		height: 100%;
		padding: 5px;
		cursor: pointer;
		width: 80px
	}

	.request-type-button-active:hover {
		color: #1bc8e3;
		background-color: transparent;
		border: 1px solid #1bc8e3;
		height: 100%;
		padding: 5px;
		cursor: pointer;
		width: 80px
	}

#result-request-options {
	display: block;
	height: 100%;
	margin: 10px
}

#body-area {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #161321;
	border: none;
	color: #1bc8e3;
}